<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="unifyingcloud.ideaposter.uspresidents.com" versionCode="100" version="3.0.0">

    <!-- versionCode is optional and Android only -->
<gap:plugin name="com.purplebrain.adbuddiz.sdk" source="npm" />
    <name>US Presidents</name>

    <description>
        US Presidents
    </description>

    <author href="https://www.unifyingcloud.com" email="jonatane.cisneros@gmail.com">
        Unifying Cloud
    </author>
<icon src="img/image.jpg" />
    <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none" />
</widget>